.footerContainer {
  position: absolute;
  margin-top: 2rem;
}

.footerMain {
  top: 10px;
  background-color: #1f1f1f;
  height: 65px;
  width: 100vw;
  display: flex;
  align-items: center;
}

.footerText {
  padding-left: 1rem;
}

.footerTitle {
  color: white;
  font-size: 18px;
}

.footerSubtitle {
  margin-top: 0.25rem;
  color: grey;
}

@media screen and (min-width: 480px) {
  .footerContainer {
    position: relative;
    margin-top: 7%;
  }

  .footerMain {
    position: absolute;
    top: 10px;
    background-color: #1f1f1f;
    height: 65px;
    width: 100vw;
    padding: 1rem 0rem;
    display: flex;
    align-items: center;
  }

  .footerText {
    /* padding-left: 1rem;
    padding: 2rem 1rem; */
  }
}
