* {
  margin: 0px;
  padding: 0px;
}

button {
  border: 0px;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: black;
  }
}

:root {
  --imessageblue: #278eff;
  --imessagegrey: #26252a;
}
