.homeContainer {
  /* display: flex;
  flex-direction: column; */
  text-align: center;
}

.heroText {
  font-weight: 400;
  font-size: 35px;
  margin: auto;
  text-align: center;
  margin-top: 10%;
  color: white;
  width: 80%;
}

.heroText span {
  font-weight: 700;
  font-size: 35px;
}

.startedButton {
  font-size: 16px;
  font-weight: 500;
  padding: 8px 28px;
  background-color: #ff0800;
  color: white;
  border-radius: 9px;
  margin-top: 1.5rem;
}

.profileCircle {
  background-color: #a0a5b1;
  border-radius: 100px;
  width: 54px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 2rem;
}

.profileCircle p {
  font-size: 30px;
}

.iMessageName {
  color: white;
  margin-top: 0.5rem;
  letter-spacing: 2px;
  font-weight: 500;
}

.iMessageContainer {
  padding: 0rem 1rem;
}

.iMessageRight {
  background-color: var(--imessageblue);
  max-width: 65%;
  width: fit-content;
  /* min-width: fit-content; */
  margin-left: auto;
  padding: 10px 14px;
  border-radius: 16px;
  margin-top: 1rem;
  text-align: center;
}

.iMessageLeft {
  background-color: var(--imessagegrey);
  max-width: 65%;
  width: fit-content;
  margin-right: auto;
  padding: 10px 14px;
  border-radius: 16px;
  margin-top: 1rem;
}

.iMessageText {
  color: white;
  font-size: 17px;
  text-align: left;
}
